{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<div class="mb-3 text-gray-900">
  Note:
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>Do not apply for single data set.</li>
  </ul>
</div>
<div class="text-end">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
    onclick="processbtn(event)"
  >
    process
  </button>
</div>
<div id="adata_results"></div>
<!-- button -->
<div id="nextbtn" class="text-end py-5 hidden">
  <a
    href="{% url 'page' process='clustering' method='pca' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    01 Clustering
  </a>
</div>

<script src="{% static 'base/js/mergeddata.js'%}"></script>
{%endblock%}
