{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<div class="mb-3 text-gray-900">
  Calculate quality control metrics.
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>
      total genes by counts: Number of unique genes detected in each cell.
    </li>
    <li>total counts: Total number of counts within a cell.</li>
  </ul>
</div>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<div id="btnbox" class="hidden">
  <!-- <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
    id="viewGUI"
    data-modal-target="filter-gui-modal"
    data-modal-toggle="filter-gui-modal"
  >
    Test View GUI
  </button> -->
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
    data-modal-target="filter-modal"
    data-modal-toggle="filter-modal"
  >
    Filter
  </button>
</div>
<div id="imgbox"></div>
<!-- button -->
<div id="nextbtn" class="text-end py-5 hidden">
  <a
    onclick="presubmit(event)"
    href="{% url 'page' process='preprocessing' method='normalization&merged' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    Next: Normalization & Merged
  </a>
</div>
<!-- filter modal -->
{%include "modals/filter.html" %}
<script src="{% static 'base/js/qualitycontrol.js'%}"></script>
{%endblock%}
