{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<div class="mb-3 text-gray-900">
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li id="preloadresult"></li>
  </ul>
  Distance Measurement
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>
      Calculates the average shortest distances among selected phenotypes or
      cell types.
    </li>
  </ul>
  Interaction
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>
      Calculates the likelihood of cell types adjacent to each, defining
      neighbors by radius or knn.
    </li>
  </ul>
</div>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<!-- imgbox -->
<div id="imgbox" class="hidden">
  <div class="mb-4 border-b border-gray-200 mt-5">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-toggle="#default-styled-tab-content"
      data-tabs-active-classes="text-sky-700 hover:text-sky-700 border-sky-700"
      data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base"
          id="distances-heatmap-styled-tab"
          data-tabs-target="#styled-distances-heatmap"
          type="button"
          role="tab"
          aria-controls="distances-heatmap"
          aria-selected="false"
        >
          Distances Heatmap
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="numeric_plot-styled-tab"
          data-tabs-target="#styled-numeric_plot"
          type="button"
          role="tab"
          aria-controls="numeric_plot"
          aria-selected="false"
        >
          Numeric Plot
        </button>
      </li>

      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="interactions_heatmap-styled-tab"
          data-tabs-target="#styled-interactions_heatmap"
          type="button"
          role="tab"
          aria-controls="interactions_heatmap"
          aria-selected="false"
        >
          Interactions Heatmap
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="voronoi_plot-styled-tab"
          data-tabs-target="#styled-voronoi_plot"
          type="button"
          role="tab"
          aria-controls="voronoi_plot"
          aria-selected="false"
        >
          Voronoi Plot
        </button>
      </li>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <!-- DH -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-distances-heatmap"
      role="tabpanel"
      aria-labelledby="distances-heatmap-tab"
    >
      <!-- conditioner -->
      <div>
        <!-- dropdown -->
        <button
          name="DH_dp_btn"
          id="DH_dp_btn"
          data-dropdown-toggle="DH_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="dh_ul_select">phenotype</span>
          <input type="hidden" value="phenotype" id="dh_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="DH_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <ul
            class="py-2 text-sm text-gray-700"
            id="dh_ul"
            aria-labelledby="DH_dp_btn"
          ></ul>
        </div>
        <button
          class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          id="DH_btn"
          onclick="addbtn('DH')"
        >
          Add
        </button>
      </div>
      <!-- img -->
      <div id="distances-heatmap-container" class="w-3/4"></div>
    </div>
    <!-- NP -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-numeric_plot"
      role="tabpanel"
      aria-labelledby="numeric_plot-tab"
    >
      <!-- conditioner -->
      <div>
        <!-- dropdown -->
        <button
          name="NP_dp_btn"
          id="NP_dp_btn"
          data-dropdown-toggle="NP_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="np_ul_select">phenotype</span>
          <input type="hidden" value="phenotype" id="np_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        Distance From =
        <button
          name="NPD_dp_btn"
          id="NPD_dp_btn"
          data-dropdown-toggle="NPD_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="npd_ul_select">&nbsp</span>
          <input type="hidden" value="phenotype" id="npd_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="NP_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <form id="NP_form">
            <ul
              class="py-2 text-sm text-gray-700"
              id="np_ul"
              aria-labelledby="NP_dp_btn"
            ></ul>
          </form>
        </div>
        <div
          id="NPD_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-52 overflow-y-auto max-h-72"
        >
          <form id="NPD_form">
            <ul
              class="py-2 text-sm text-gray-700"
              id="npd_ul"
              aria-labelledby="NPD_dp_btn"
            ></ul>
          </form>
        </div>
        <button
          class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          id="NP_btn"
          onclick="addbtn('NP')"
        >
          Add
        </button>
      </div>
      <!-- img -->
      <div
        id="numeric-plot-container"
        class="grid grid-cols-1 sm:grid-cols-2 auto-rows-auto gap-5"
      ></div>
    </div>
    <!-- IH -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-interactions_heatmap"
      role="tabpanel"
      aria-labelledby="interactions_heatmap-tab"
    >
      <!-- conditioner -->
      <div>
        <!-- dropdown -->
        <button
          name="IH_dp_btn"
          id="IH_dp_btn"
          data-dropdown-toggle="IH_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="ih_ul_select">phenotype</span>
          <input type="hidden" value="phenotype" id="ih_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <button
          name="IHM_dp_btn"
          id="IHM_dp_btn"
          data-dropdown-toggle="IHM_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="ihm_ul_select">&nbsp</span>
          <input type="hidden" value="phenotype" id="ihm_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="IH_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <form id="IH_form">
            <ul
              class="py-2 text-sm text-gray-700"
              id="ih_ul"
              aria-labelledby="IH_dp_btn"
            ></ul>
          </form>
        </div>
        <div
          id="IHM_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <form id="IHM_form">
            <ul
              class="py-2 text-sm text-gray-700"
              id="ihm_ul"
              aria-labelledby="IHM_dp_btn"
            ></ul>
          </form>
        </div>
        <button
          class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          id="IH_btn"
          onclick="addbtn('IH')"
        >
          Add
        </button>
      </div>
      <!-- img -->
      <div
        id="interactions-heatmap-container"
        class="grid grid-cols-1 sm:grid-cols-2 auto-rows-auto gap-5"
      ></div>
    </div>
    <!-- VP -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-voronoi_plot"
      role="tabpanel"
      aria-labelledby="voronoi_plot-tab"
    >
      <!-- conditioner -->
      <div>
        <!-- dropdown -->
        <button
          name="VP_dp_btn"
          id="VP_dp_btn"
          data-dropdown-toggle="VP_dp"
          class="disabled:bg-gray-300 disabled:cursor-not-allowed mb-5 mr-5 p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        >
          <span id="vp_ul_select">phenotype</span>
          <input type="hidden" value="phenotype" id="vp_ul_input" />
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div
          id="VP_dp"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <form id="VP_form">
            <ul
              class="py-2 text-sm text-gray-700"
              id="vp_ul"
              aria-labelledby="VP_dp_btn"
            ></ul>
          </form>
        </div>
        <button
          class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          id="VP_btn"
          onclick="addbtn('VP')"
        >
          Add
        </button>
      </div>
      <!-- img -->
      <div id="voronoi-plot-container"></div>
    </div>
  </div>
</div>
<!-- button -->
<div class="text-end py-5 hidden" id="nextbtn">
  <a
    href="{% url 'page' process='neighbor' method='neighborhood' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    Next:Neighborhood
  </a>
</div>

<script src="{% static 'base/js/spatialanalysis.js'%}"></script>
<script src="{% static 'base/js/spatialDP.js'%}"></script>
{%endblock%}
