{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<div class="mb-3 text-gray-900">
  Distance Measurement
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>
      Calculates the average shortest distances among selected phenotypes or
      cell types.
    </li>
  </ul>
  Interaction
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>
      Calculates the likelihood of cell types adjacent to each, defining
      neighbors by radius or knn.
    </li>
  </ul>
</div>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<!-- imgbox -->
<div id="imgbox" class="hidden">
  <div class="mb-4 border-b border-gray-200 mt-5">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-toggle="#default-styled-tab-content"
      data-tabs-active-classes="text-sky-700 hover:text-sky-700 border-sky-700"
      data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base"
          id="summary-styled-tab"
          data-tabs-target="#styled-summary"
          type="button"
          role="tab"
          aria-controls="summary"
          aria-selected="false"
        >
          Heatmap
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="numeric_plot-styled-tab"
          data-tabs-target="#styled-numeric_plot"
          type="button"
          role="tab"
          aria-controls="numeric_plot"
          aria-selected="false"
        >
          Numeric Plot
        </button>
      </li>

      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="heatmap-styled-tab"
          data-tabs-target="#styled-heatmap"
          type="button"
          role="tab"
          aria-controls="heatmap"
          aria-selected="false"
        >
          Heatmap
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="voronoi_plot-styled-tab"
          data-tabs-target="#styled-voronoi_plot"
          type="button"
          role="tab"
          aria-controls="voronoi_plot"
          aria-selected="false"
        >
          Voronoi Plot
        </button>
      </li>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-summary"
      role="tabpanel"
      aria-labelledby="summary-tab"
    >
      <div id="summary-container" class="flex gap-5">
        <img src="/media/coverimage/coverimage1.png" alt="" class="w-2/5" />
        <img src="/media/coverimage/coverimage2.png" alt="" class="w-2/5" />
      </div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-numeric_plot"
      role="tabpanel"
      aria-labelledby="numeric_plot-tab"
    >
      <div id="numeric_plot-container" class="flex gap-5">
        <span>No image found. Might be something got wrong.</span>
        <img src="/media/coverimage/coverimage3.png" alt="" class="w-2/5" />
      </div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-heatmap"
      role="tabpanel"
      aria-labelledby="heatmap-tab"
    >
      <div id="heatmap-container">
        <img src="/media/coverimage/coverimage4.png" alt="" class="w-2/5" />
      </div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-voronoi_plot"
      role="tabpanel"
      aria-labelledby="voronoi_plot-tab"
    >
      <div id="voronoi_plot-container">
        <img src="/media/coverimage/coverimage5.png" alt="" class="w-2/5" />
      </div>
    </div>
  </div>
</div>
<!-- button -->
<div class="text-end py-5 hidden" id="nextbtn">
  <a
    href="{% url 'page' process='neighbor' method='neighborhood' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    Next:Neighborhood
  </a>
</div>

<script src="{% static 'base/js/spatialanalysis.js'%}"></script>
{%endblock%}
