{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
  <li id="preloadresult"></li>
</ul>
<div class="flex items-center my-2 text-gray-900">
  <label for="neighbor_method" class="w-72 mr-2"
    >Please select the cluster column:</label
  >
  <button
    name="neighbor_method"
    id="neighbor_method"
    data-dropdown-toggle="dropdown"
    class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
    type="button"
  >
    <span id="n_select">phenotype</span>
    <input type="hidden" value="phenotype" id="n_input" />

    <svg
      class="w-2.5 h-2.5 ms-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div
    id="dropdown"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
  >
    <ul
      class="py-2 text-sm text-gray-700"
      id="preloadul"
      aria-labelledby="neighbor_method"
    >
      <li class="cursor-pointer">
        <a
          onclick="select('n','phenotype')"
          class="block px-4 py-2 hover:bg-gray-100 m-2"
          >phenotype</a
        >
      </li>
      <li class="cursor-pointer">
        <a
          onclick="select('n','leiden_R')"
          class="block px-4 py-2 hover:bg-gray-100 m-2"
          >leiden_R</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="mb-3 text-gray-900">
  <div class="flex items-center my-2">
    <label for="k_neighbor" class="w-48 mr-2">Please enter k:</label>
    <input
      type="number"
      id="k_neighbor"
      class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-24 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900"
    />
  </div>
  <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
    <li>The number of nearest neighbors for each center cell</li>
  </ul>
</div>
<div class="flex items-center my-2">
  <label for="n_neighbor" class="w-60 mr-2">Please enter n_neighbors:</label>
  <input
    type="number"
    id="n_neighbor"
    class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-24 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900"
  />
</div>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<div id="imgbox" class="flex gap-5">
  <div id="neighborhood_lmplot_container"></div>
  <div id="neighborhood_heatmap_container"></div>
</div>

<script src="{% static 'base/js/neighbor.js'%}"></script>
{%endblock%}
