<div
  id="filter-gui-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">View GUI</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="filter-gui-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div
        class="p-4 md:p-5 space-y-4 overflow-y-scroll hover:overflow-y-scroll max-h-[80vh]"
      >
        <form id="filterguiform">
          <div>
            <div class="flex items-center my-2 gap-5">
              <!-- select to view -->
              <label for="viewsample" class="font-medium"
                >Please select the sample to view:
              </label>
              <button
                name="viewsample"
                id="viewsample"
                data-dropdown-toggle="v_dropdown"
                class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
                type="button"
              >
                <span id="v_sampleul_select">&nbsp</span>
                <input type="hidden" name="sample" id="v_sampleul_input" />
                <svg
                  class="w-2.5 h-2.5 ms-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <div
                id="v_dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
              >
                <ul
                  class="py-2 text-sm text-gray-700"
                  id="v_sampleul"
                  aria-labelledby="viewsample"
                ></ul>
              </div>
            </div>
            <!-- upload file -->
            <label class="w-96 my-2">Please upload the sample image:</label>
            <div class="mb-3 text-gray-900 flex items-center gap-5">
              <div>
                <label
                  for="file_upload"
                  class="rounded-md bg-sky-950 py-2 px-4 text-white text-sm font-semibold my-3"
                  style="display: inline-block; cursor: pointer"
                >
                  +Upload File
                </label>
                <input id="file_upload" type="file" style="display: none" />
              </div>

              <div id="uploaded" class="text-gray-700 text-bold"></div>
            </div>
            <!-- marker to view -->
            <div class="mb-3 text-gray-900">
              <div class="flex items-center my-2 gap-5">
                <label for="pca_markers" class="text-base leading-relaxed"
                  >Please select a marker you want to PCA:</label
                >
                <button
                  name="pca_markers"
                  id="pca_markers"
                  data-dropdown-toggle="dropdownmarkers"
                  class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
                >
                  Select All
                  <svg
                    class="w-2.5 h-2.5 ms-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"
                    />
                  </svg>
                </button>

                <!-- Dropdown menu -->
                <div
                  id="dropdownmarkers"
                  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-48 h-96 overflow-y-auto"
                >
                  <form id="markerform">
                    <ul
                      class="p-3 space-y-1 text-sm text-gray-700"
                      aria-labelledby="dropdownmarkersButton"
                    ></ul>
                  </form>
                </div>
              </div>
            </div>
            <div class="text-gray-500">
              Selected markers : <span id="selectedbox"></span>
            </div>
            <div class="text-gray-500 my-2">
              Note:
              <ul class="list-disc pl-5">
                <li>
                  The GUI shows the image's DAPI channel, chosen markers, and
                  cell positions before (retained) and after (removed)
                  filtering.
                </li>
              </ul>
            </div>
          </div>
        </form>
        <div class="text-right my-2">
          <button
            type="button"
            data-modal-hide="filter-gui-modal"
            class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
