{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<form id="uploadform">
  <label class="w-96 my-2">Please upload your phenotyping workflow:</label>
  <div class="mb-3 text-gray-900 flex items-center gap-5">
    <div>
      <label
        for="file_upload"
        id="file_upload_l"
        class="rounded-md bg-sky-950 py-2 px-4 text-white text-sm font-semibold my-3 cursor-pointer"
        style="display: inline-block"
      >
        +Upload File
      </label>
      <input id="file_upload" type="file" style="display: none" />
    </div>

    <div id="uploaded" class="text-gray-700 text-bold"></div>
  </div>
  <div lass="mb-3 text-gray-900">
    Note:
    <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
      <li>
        Rescales the data based on the gates from the previous step, or
        automatically finds the optimal gates via Gaussian Mixture Models(GMM)
        if none are provided.
      </li>
    </ul>
  </div>
</form>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<!-- btnbox -->
<div id="btnbox" class="hidden">
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
  >
    View phenotypes in GUI
  </button>
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
    data-modal-target="rename-modal"
    data-modal-toggle="rename-modal"
    onclick="grabnames()"
  >
    Rename Phenotyping
  </button>
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
    data-modal-target="dropphenotype-modal"
    data-modal-toggle="dropphenotype-modal"
    onclick="grabdropphenotype()"
  >
    Drop Phenotypes
  </button>
  <div>
    <button
      class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
      onclick="downloadImages('phenotype_result')"
    >
      Download
    </button>
  </div>
</div>
<!-- imgbox -->
<div id="imgbox" class="hidden">
  <div class="mb-4 border-b border-gray-200 mt-5">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-toggle="#default-styled-tab-content"
      data-tabs-active-classes="text-sky-700 hover:text-sky-700 border-sky-700"
      data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300"
      role="tablist"
    >
      <!-- summary -->
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base"
          id="summary-styled-tab"
          data-tabs-target="#styled-summary"
          type="button"
          role="tab"
          aria-controls="summary"
          aria-selected="false"
        >
          Summary
        </button>
      </li>
      <!-- umap -->
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="umap-styled-tab"
          data-tabs-target="#styled-umap"
          type="button"
          role="tab"
          aria-controls="umap"
          aria-selected="false"
        >
          Umap
        </button>
      </li>
      <!-- ranking -->
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="ranking-styled-tab"
          data-tabs-target="#styled-ranking"
          type="button"
          role="tab"
          aria-controls="ranking"
          aria-selected="false"
        >
          Ranking
        </button>
      </li>
      <!-- heatmap -->
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="heatmap-styled-tab"
          data-tabs-target="#styled-heatmap"
          type="button"
          role="tab"
          aria-controls="heatmap"
          aria-selected="false"
        >
          Heatmap
        </button>
      </li>
    </ul>
  </div>

  <div id="default-styled-tab-content">
    <!-- summarytab -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-summary"
      role="tabpanel"
      aria-labelledby="summary-tab"
    >
      <div id="p-summary-container">
        <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
          <li id="phenotype_result"></li>
        </ul>
      </div>
    </div>
    <!-- umap tab -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50 max-h-[64rem] overflow-y-auto"
      id="styled-umap"
      role="tabpanel"
      aria-labelledby="umap-tab"
    >
      <div id="p-umap-container">
        <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
          <li>
            <div class="flex items-center my-2">
              <label for="Addphenotypes" class="w-1/2 mr-2"
                >Add phenotypes distribution grouped by sample
              </label>
              <button
                type="button"
                id="Addphenotypes"
                name="Addphenotypes"
                class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
                onclick="addphenotypes()"
              >
                Add
              </button>
            </div>
          </li>
          <li>
            <div class="flex items-center my-2">
              <label for="Addmarkers" class="w-1/2 mr-2">Add Markers </label>
              <button
                name="phenotype_markers"
                id="phenotype_markers"
                data-dropdown-toggle="dropdownmarkers"
                class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
              >
                Select All
                <svg
                  class="w-2.5 h-2.5 ms-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>

              <!-- Dropdown menu -->
              <div
                id="dropdownmarkers"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-48 h-72 overflow-y-auto"
              >
                <form id="markerform">
                  <ul
                    class="p-3 space-y-1 text-sm text-gray-700"
                    aria-labelledby="dropdownmarkersButton"
                  ></ul>
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center my-2">
              <label for="Addedmarkers" class="w-1/2 mr-2" id="selectedbox">
              </label>

              <button
                type="button"
                id="Addedmarkers"
                name="Addedmarkers"
                class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
                onclick="addmarkers()"
              >
                Add
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div id="addphenotypes-container"></div>
      <div id="addmarkers-container"></div>
    </div>
    <!-- ranking tab -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-ranking"
      role="tabpanel"
      aria-labelledby="ranking-tab"
    >
      <div id="p-ranking-container"></div>
    </div>
    <!-- heatmap tab -->
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-heatmap"
      role="tabpanel"
      aria-labelledby="heatmap-tab"
    >
      <div id="p-heatmap-container"></div>
    </div>
  </div>
</div>
<!-- button -->
<div class="text-end py-5 hidden" id="nextbtn">
  <a
    href="{% url 'page' process='cellsinteraction' method='spatialanalysis' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    Next:Spatial Analysis
  </a>
</div>
<!-- modal start -->
<!-- renaming -->
<div
  id="rename-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">Rename Phenotypes</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="rename-modal"
          onclick="close_modal('rename-modal')"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div
        class="p-4 md:p-5 space-y-4 overflow-y-scroll hover:overflow-y-scroll max-h-[80vh]"
      >
        <form id="renameform">
          <div>
            <div class="flex items-center my-2 gap-5">
              <span class="font-bold text-gray-500"
                >Please rename phenotypes by editing the 'New Name' columns
                below:
              </span>
            </div>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table
                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                id="nametable"
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3">#</th>
                    <th scope="col" class="px-6 py-3">Current Name</th>
                    <th scope="col" class="px-6 py-3">New Name</th>
                    <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <tbody id="nametbody"></tbody>
              </table>
            </div>
          </div>
        </form>
        <div class="text-right my-2">
          <button
            type="button"
            onclick="rename_confirmbtn()"
            id="renameconfirmbtn"
            class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- drop phenotyping -->
<div
  id="dropphenotype-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">Drop Phenotypes</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="dropphenotype-modal"
          onclick="close_modal('dropphenotype-modal')"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div
        class="p-4 md:p-5 space-y-4 overflow-y-scroll hover:overflow-y-scroll max-h-[80vh]"
      >
        <form id="dropphenotypeform">
          <div class="flex items-center my-2 gap-5">
            <label
              for="divide_dropphenotype"
              class="text-base leading-relaxed text-gray-500"
              >Please enter the phenotype to drop:
            </label>
            <button
              name="divide_dropphenotype"
              id="divide_dropphenotype"
              data-dropdown-toggle="divide_dropphenotype_dropdown"
              class="disabled:bg-gray-300 disabled:cursor-not-allowed p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
              type="button"
            >
              <span id="_"></span>
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="divide_dropphenotype_dropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-48 h-72 overflow-y-auto"
            >
              <ul
                class="p-3 space-y-1 text-sm text-gray-700"
                id="dropphenotypeul"
                aria-labelledby="divide_dropphenotype"
              ></ul>
            </div>
          </div>
        </form>
        <div class="text-right my-2">
          <button
            type="button"
            onclick="dropphenotype_confirmbtn()"
            id="drop_confirmbtn"
            class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3 hover:bg-sky-600 disabled:bg-sky-700/50 disabled:cursor-not-allowed"
          >
            Drop
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'base/js/phenotyping.js'%}"></script>
<script src="{% static 'base/js/phenotyping_modal.js'%}"></script>
{%endblock%}
