<!-- pc mode -->
<div class="md:block hidden h-fit my-3">
  <ol class="relative border-s border-gray-200">
    <li class="ms-4">
      <div
        name="nav-dot"
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white"
      ></div>
      <h3 name="nav-ul" class="text-lg font-semibold text-gray-900">
        Preprocessing
      </h3>
      <ul class="mb-4 text-base font-normal text-gray-500">
        <li name="nav-content" class="px-2 py-4">
          <a
            href="{% url 'page' process='preprocessing' method='createadata' %}"
            >Create Adata</a
          >
        </li>
        <li name="nav-content" class="px-2 py-4">
          <a
            href="{% url 'page' process='preprocessing' method='qualitycontrol' %}"
            >Quality Control</a
          >
        </li>
        <li name="nav-content" class="px-2 py-4">
          <a
            href="{% url 'page' process='preprocessing' method='normalization' %}"
            >Normalization</a
          >
        </li>
        <li name="nav-content" class="px-2 py-4">
          <a href="{% url 'page' process='preprocessing' method='mergeddata' %}"
            >Merged Data</a
          >
        </li>
      </ul>
    </li>
    <li class="ms-4">
      <div
        name="nav-dot"
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white"
      ></div>

      <h3 name="nav-ul" class="text-lg font-semibold text-gray-900">
        Clustering
      </h3>
      <ul class="mb-4 text-base font-normal text-gray-500">
        <li name="nav-content" class="px-2 py-4">
          <a href="{% url 'page' process='clustering' method='pca' %}">PCA</a>
        </li>
        <li name="nav-content" class="px-2 py-4">
          <a href="{% url 'page' process='clustering' method='clustering' %}"
            >Clustering</a
          >
        </li>
      </ul>
    </li>
    <li class="ms-4">
      <div
        name="nav-dot"
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white"
      ></div>

      <h3 name="nav-ul" class="text-lg font-semibold text-gray-900">
        Phenotyping
      </h3>
      <ul class="mb-4 text-base font-normal text-gray-500">
        <li name="nav-content" class="px-2 py-4">
          <a
            href="{% url 'page' process='phenotyping' method='identifythegates' %}"
            >Identify the Gates</a
          >
        </li>
        <li name="nav-content" class="px-2 py-4">
          <a href="{% url 'page' process='phenotyping' method='phenotyping' %}"
            >Phenotyping</a
          >
        </li>
      </ul>
    </li>
    <li class="ms-4">
      <div
        name="nav-dot"
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white"
      ></div>

      <h3 name="nav-ul" class="text-lg font-semibold text-gray-900">
        Cells Interaction
      </h3>
      <ul class="mb-4 text-base font-normal text-gray-500">
        <li name="nav-content" class="px-2 py-4">
          <a
            href="{% url 'page' process='cellsinteraction' method='spatialanalysis' %}"
            >Spatial Analysis</a
          >
        </li>
      </ul>
    </li>
    <li class="ms-4">
      <div
        name="nav-dot"
        class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white"
      ></div>

      <h3 name="nav-ul" class="text-lg font-semibold text-gray-900">
        Neighbor
      </h3>
      <ul class="mb-4 text-base font-normal text-gray-500">
        <li name="nav-content" class="px-2 py-4">
          <a href="{% url 'page' process='neighbor' method='neighborhood' %}"
            >Neighborhood</a
          >
        </li>
      </ul>
    </li>
  </ol>
</div>
<!-- mobile mode  -->
<div class="block md:hidden">
  <ol class="items-center flex p-2">
    <li class="relative flex-1 mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -start-1.5 border border-white"
        ></div>
        <div class="flex w-full bg-gray-200 h-0.5"></div>
      </div>
      <div class="mt-3 w-3/4">
        <h3 class="text-sm truncate font-semibold text-gray-900">
          Preprocessing
        </h3>
      </div>
    </li>
    <li class="relative flex-1 mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -start-1.5 border border-white"
        ></div>
        <div class="flex w-full bg-gray-200 h-0.5"></div>
      </div>
      <div class="mt-3 w-3/4">
        <h3 class="text-sm truncate font-semibold text-gray-900">Clustering</h3>
      </div>
    </li>
    <li class="relative flex-1 mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -start-1.5 border border-white"
        ></div>
        <div class="flex w-full bg-gray-200 h-0.5"></div>
      </div>
      <div class="mt-3 w-3/4">
        <h3 class="text-sm truncate font-semibold text-gray-900">
          Phenotyping
        </h3>
      </div>
    </li>
    <li class="relative flex-1 mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -start-1.5 border border-white"
        ></div>
        <div class="flex w-full bg-gray-200 h-0.5"></div>
      </div>
      <div class="mt-3 w-3/4">
        <h3 class="text-sm truncate font-semibold text-gray-900">
          Cells Interaction
        </h3>
      </div>
    </li>
    <li class="relative flex-1 mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -start-1.5 border border-white"
        ></div>
        <div class="flex w-full bg-gray-200 h-0.5"></div>
      </div>
      <div class="mt-3 w-3/4">
        <h3 class="text-sm truncate font-semibold text-gray-900">Neighbor</h3>
      </div>
    </li>
  </ol>
</div>
