<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'page' process='preprocessing' method='createadata' %}"
      >Start</a
    >
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", async function () {
      const csrftoken = getCookie("csrftoken");
      const results = await fetchAPI("/api/clear", 0, csrftoken);
      console.log(results);
    });
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    async function fetchAPI(url, formData, csrftoken) {
      const response = await fetch(url, {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": csrftoken,
        },
      });

      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    }
  </script>
</html>
