{%extends "base.html"%} {% load static %} {%block content%}
<!-- main -->
<form id="clusterform">
  <div class="mb-3 text-gray-900">
    <div class="flex items-center my-2">
      <input type="hidden" name="method" id="method" value="none" />
      <label for="clustering_method" class="w-96 mr-2"
        >Please choose one batch correct method:</label
      >
      <button
        name="clustering_method"
        id="clustering_method"
        data-dropdown-toggle="dropdown"
        class="p-3 w-36 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900 justify-between inline-flex items-center"
        type="button"
      >
        <svg
          class="w-2.5 h-2.5 ms-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          id="preloadul"
          aria-labelledby="clustering_method"
        ></ul>
      </div>
    </div>
    <ul class="space-y-1 text-gray-500 list-disc list-outside p-4">
      <li>
        Harmony: Integrates single-cell data by adjusting principal components.
      </li>
      <li>Combat: Corrects for batch effects by fitting linear models</li>
      <li>bbknn: Identifying top neighbors separately within each batch</li>
    </ul>
  </div>
  <div class="flex items-center my-2">
    <label for="n_neighbor" class="w-60 mr-2"
      >Please enter the n_neighbor:</label
    >
    <input
      type="number"
      id="n_neighbors"
      name="n_neighbors"
      class="p-3 w-24 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900"
    />
  </div>
  <div class="flex items-center my-2">
    <label for="resolution" class="w-60 mr-2"
      >Please enter the resolution:</label
    >
    <input
      type="number"
      id="resolution"
      name="resolution"
      class="p-3 w-24 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-900 focus:border-sky-900"
    />
  </div>
</form>
<div class="text-end py-5">
  <button
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
    id="processbutton"
    onclick="processbtn(event)"
  >
    Process
  </button>
</div>
<!-- btnbox -->
<div id="btnbox" class="hidden">
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
  >
    View Clusters in GUI
  </button>
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
  >
    Rename Clusters
  </button>
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
  >
    Subcluster
  </button>
  <button
    class="rounded-md bg-gray-400 py-2 px-4 text-white text-sm font-semibold my-3 mx-2"
  >
    Subset
  </button>
</div>
<!-- imgbox -->
<div id="imgbox" class="hidden">
  <div class="mb-4 border-b border-gray-200 mt-5">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-toggle="#default-styled-tab-content"
      data-tabs-active-classes="text-sky-700 hover:text-sky-700 border-sky-700"
      data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base"
          id="summary-styled-tab"
          data-tabs-target="#styled-summary"
          type="button"
          role="tab"
          aria-controls="summary"
          aria-selected="false"
        >
          Summary
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="umap-styled-tab"
          data-tabs-target="#styled-umap"
          type="button"
          role="tab"
          aria-controls="umap"
          aria-selected="false"
        >
          Umap
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="ranking-styled-tab"
          data-tabs-target="#styled-ranking"
          type="button"
          role="tab"
          aria-controls="ranking"
          aria-selected="false"
        >
          Ranking
        </button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg text-base hover:text-gray-600 hover:border-gray-300"
          id="heatmap-styled-tab"
          data-tabs-target="#styled-heatmap"
          type="button"
          role="tab"
          aria-controls="heatmap"
          aria-selected="false"
        >
          Heatmap
        </button>
      </li>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-summary"
      role="tabpanel"
      aria-labelledby="summary-tab"
    >
      <div id="summary-container"></div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-umap"
      role="tabpanel"
      aria-labelledby="umap-tab"
    >
      <div id="umap-container"></div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-ranking"
      role="tabpanel"
      aria-labelledby="ranking-tab"
    >
      <div id="ranking-container"></div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50"
      id="styled-heatmap"
      role="tabpanel"
      aria-labelledby="heatmap-tab"
    >
      <div id="heatmap-container"></div>
    </div>
  </div>
</div>

<!-- nextbutton -->
<div id="nextbtn" class="text-end py-5 hidden">
  <a
    href="{% url 'page' process='phenotyping' method='identifythegates' %}"
    class="rounded-md bg-sky-700 py-2 px-4 text-white text-sm font-semibold my-3"
  >
    Next:Identify the Gates
  </a>
</div>

<script src="{% static 'base/js/clustering.js'%}"></script>
{%endblock%}
